<h2 id="title">Welcome to Ember</h2>
{{input value=numberOfParticles}}

{{outlet}}

{{ember-particles
  options=(ember-particles-options
    'particles.number.value' numberOfParticles
    'particles.number.density.enable' true
    'particles.color.value' '#0055ff'
    'particles.size.value' 3
    'particles.line_linked.enable' true
    'particles.line_linked.color' '#0055ff'
    'particles.line_linked.opacity' 0.3
    'particles.line_linked.width' 1
  )}}
